// .main{
//     background-color: lightcoral;

//     .main-heading{
//         font-size: 2em;
//     }

//     .main-paragraph{
//         font-size: 1.4em;
//     }

// }

// .main, footer{
//     h1, p{
//         letter-spacing: 1px;
//     }
// }


// & 
// Parent Selector 
// .main{
//     .container &{
//         background-color: lightblue;
//     }

//     .h1{
//         font-size: 2em;
//     }

//     &:hover{
//         background-color: salmon;
//     }
// }

.main{
    #{&}-heading{
        font-size: 2em;
    }

    #{&}-paragraph{
        font-size: 1.4em;
    }
}

.footer{
    #{&}-heading{
        font-size: 1.5em;
    }

    #{&}-paragraph{
        font-size: 1em;
    }
}
