//CSS Variabel

// :root{
//     --primary-color: rgb(230, 225, 225);
//     --secondary-color: rgb(243, 172, 78);
//     --text-color: rgb(100, 74, 3);
// }


// body{
//     background-color: var(--primary-color);
// }

// h1{
//     color: var(--secondary-color);
// }

// p{
//     color: var(--text-color);
// }

// SASS Variabel

// $secondary-color: rgb(243, 172, 78);
// $text-color:rgb(100, 74, 3);

// body {
//     $primary-color: rgb(230, 225, 225) !global;
//     background-color: $primary-color;
// }

// h1 {
//     color: $primary-color;
// }

// p {
//     color: $text-color;
// }

// Map
// $alert-danger: red;
// $alert-warning: orange;
// $alert-success: green;

$alert: (
    'danger' : red,
    'warning': orange,
    'success' : green
);

h1{
    color: map-get($map: alert, $key: warning)
}